<% current = request.fullpath %>
<% if @taxonomies %>
<% @taxonomies.each do |taxonomy| %> 
<li>
  <ul class="dropdown_menu">
	 <li>
		<%= taxonomy.name %>
		<ul>
		  <% taxonomy.root.children.each do |taxon| %>
		  <li
		  <% if "/t/" + taxon.permalink == current.downcase %> class="active"<% end %>
		  ><a href="/t/<%= taxon.permalink  %>"><%= taxon.name %></a></li>
		  <% end  %> 
		</ul>
	 </li>
  </ul>
</li>
<% end  %> 
<% end  %> 
